@page
@model Project3.Pages.Medias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Media[0].path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media[0].place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media[0].type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media[0].LinkMediaPerson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Media) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkMediaPerson.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
